<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="UploadImage" />
        <input type="file" name="CoverImage" />
        <button type="submit" name="uploadImg">Upload</button>
      </form>
</body>
</html>